{% extends "base.html" %}
{% block content %}

<div class="container">
    {% for item in dataset %}
    {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
    {% if counter == 1 %}<div class="card-columns">{% endif %}
    <div class="card shadow-sm text-center">
      <img src="{{ item['poster_url'] }}" class="card-img-top" style="width:249px;height:203px;" >
      <div class="card-body">
        <h5 class="Film">{{ item['Film'] }}</h5>
        <h1 class="card-title pricing-card-title"> {{ item['price'] }} <small class="text-muted">/ per</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>片名：{{ item['Film'] }} </li>
          <li>發行時間:{{ item['Release_Date'] }}</li>
          <li>豆瓣評分：{{ item['Douban_Rating'] }}</li>
          <li>拍攝地點：{{ item['Filming_Site'] }}</li>
          <li>場景時刻：{{ item['Scene_Time'] }}</li>
          <li>場景人物：{{ item['Character'] }}</li>
          <li>場景劇情：{{ item['Scene_Plot'] }}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Add to Cart</button>
      </div>
    </div>
    {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
    {% endfor %} 
  </div>

{% endblock %}