{% extends "base.html" %}
{% block content %}

  {% for nopic in locations_in_HK.items %}
       {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img width="100%" height="200px" src="{{nopic.poster}}" style="object-fit:cover">
              <div class="card-body">
              <p>編號:{{nopic.id}}<br>影片:{{nopic.Films}}<br>海報:{{nopic.poster}}<br>拍攝地點:{{nopic.locations}}<br>場景時刻:{{nopic.scenetime}}<br>場景人物:{{nopic.characters}}<br>場景劇情:{{nopic.sceneplot}}</p>
              </div>
              </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
  {% endfor %}
  <div class="container" style="float: left;">
  {% for page in locations_in_HK.iter_pages() %}  
    {% if page %}
        <a href="{{url_for('album')}}/{{ page }}">{{ page }}</a>
    {% else %}
        ...
    {% endif %}
  {% endfor %}  
  </div>
{% endblock %}