html {
    scroll-behavior: smooth;
  }

body {
background-color: rgba(54, 49, 49, 0.253);
}
.image p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.8em;
  }
  .image p .btn:hover {
    color: rgb(91, 115, 255);
    border-color: rgb(89, 189, 255);
  }
  #mapid { height: 180px; }

